@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
body{
background-color: azure;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}
.navbar-brand{
    text-align: center;
    font-weight: 900;
}
.icons{
border-radius: 100%;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;

}
.center{
text-align: center;
margin: 0 auto;
padding: 0 auto;
}
h1{
    font-weight: 900;
    font-family: 'Noto Sans JP', sans-serif;
}
.container{
    margin-top: 100px;
}
body {
    background-color: #f6f6f4;
  }
  
  a {
    color: black;
  }
  
  h1,
  h5 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
  }
  
  h1 {
    background: linear-gradient(135deg, #7b57ff 0%, #fd0495 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  h6 {
    color: gray;
  }
  

  
  .center {
    text-align: center;
    margin: 0px auto;
  }
  
  .top {
    margin-top: 20vh;
  }
  
  .title {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    font-size: 5.5vmax;
  
    background: linear-gradient(135deg, #7b57ff 0%, #fd0495 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 2s;
    max-width: 90vw;
  }
  
  :hover.title {
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .black {
    background: black;
    color: white;
    transition: 3s;
    margin-top: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .black:hover {
    background: rgb(51, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: white;
  }
  
  .btn {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
  }
  
  .mai {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    text-align: left;
  }
  
  .forme {
    padding: 5px;
    border-radius: 20px;
    border: none;
    height: 300px;
  }
  
  .forme:active {
    border: 1px solid black;
  }
  
  .badge-black {
    background-color: black;
    color: white;
  }
  
  .badge {
    color: white;
    margin: 10px;
    background: #7b57ff;
    margin: 10px;
  }
  .badge-skill{
    color: white;
    margin: 0px;
    background: #7b57ff;
  }